
<div class="navbar">
  <div class="navbar-container">
      <%= link_to image_tag("AlphaBlack.png", height: '30'), root_path %>
      <ul>
        <% if user_signed_in? %>
        <li>
          <%= link_to "Dashboard", root_path, class: "nav-link button" %>
        </li>
        <li>
          <%= link_to "New Event", new_event_path, class: "nav-link button" %>
        </li>
          <li>
              <%= link_to "Log out", root_path, data: {turbo_method: :delete}, class: "nav-link button" %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
