.btn{
  font-family: $font-family-sans-serif;
  margin: 20px 0;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  border: none;
  font-weight: bolder;
  color: #03312E;
  cursor: pointer;
  background-color: #FF7F11;
}

.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
