.application-container {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  width: 80%;
}

.user-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  }

.event-dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.collabs {
  width: 100%;
  margin-bottom: 30px;
}

.calendar-notes {
  display: flex;
  flex-direction: column;
}

.notes-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
