.input, input, select, textarea {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: none;
  background-color: white;
  cursor: pointer;
  margin: 5px 0;
  border-bottom: 1px solid #95ADB6;
  font-size: 16px;
  transition: .2s ease-in;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}



input::placeholder{
  padding: 10px;
  font-size: 16px;
}

.input:focus, input:focus, select:focus, textarea:focus{
  border: none;
  outline: none;
}

.input-container{
  padding: 20px;
  margin: auto auto;
  width: 500px;
  border-radius: 5px;
  label{
    font-size: 15px;
  }
  a{
    font-size: 16px;
    color: black;
    border: 1px solid #FF7F11;
    padding: 8px 12px;
    margin-bottom: 10px;
    transition: .2s ease-in;
    opacity: 0.7;
    &:hover{
      opacity: 1;
      background-color: #FF7F11;
    }
  }
}

.flex-inputs {
  display: flex;
  gap: 20px;
}

.image-input{
  font-size: 22px;
  opacity: .5;
  transition: .2s ease;
  cursor:pointer;
}

.image-input:hover{
  opacity: 1;
}

.search-bar{
  width: 100%;
  padding: 2px 2px;
  border: 1px solid rgba(152,140,151,0.8);
  border-radius: 5px;
  background-color: white;
}
.add-container{
  display: flex;
  width: 60%;
  margin: 0 auto;
  border-radius: 2px;
  gap: 4px;
}
input.add{
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: bold;
  width: 48px;
  background-color: $theme-green;
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}


fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: min-content;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}
